{% extends '../base.html' %}

{% block content %}

    <h3>Adicionar Minicurso</h3>

    <form method="post">
        {% csrf_token %}
        <div>
        <label>Palestrante</label>
        <select name="palestrante">
            {% for palestrante in palestrantes %}
            <option value="{{ palestrante.pk }}">{{ palestrante.nome }}</option>
            {% endfor %}
        </select>
        </div>
        <div>
            <label>Nome do Minicurso</label>
            <input name="nome" type="text">
        </div>
        <div>
            <label>Data do Minicurso</label>
            <input name="data" type="date">
        </div>
        <div>
            <label>Hora do Minicurso</label>
            <input name="hora" type="time">
        </div>
        <input type="submit" value="Adicionar">
    </form>

{% endblock %}